<div class="row-db">
    <div class="column-db">
        <div class="card-db">
            <p><i class="fa fa fa-lightbulb-o i-size" aria-hidden="true"></i></p>
            <h3>{{totalProjects}}</h3>
            <p>Projects</p>
        </div>
    </div>

    <div class="column-db">
        <div class="card-db">
            <p><i class="fa fa-folder-open-o i-size" aria-hidden="true"></i></p>
            <h3>{{totalFeatures}}</h3>
            <p>New Features</p>
        </div>
    </div>

    <div class="column-db">
        <div class="card-db">
            <p><i class="fa fa-bug i-size" aria-hidden="true"></i></p>
            <h3>{{totalBugs}}</h3>
            <p>Bugs Reported</p>
        </div>
    </div>

    <div class="column-db">
        <div class="card-db">
            <p><i class="fa fa-check i-size"></i></p>
            <h3>{{totalIssuesSolved}}</h3>
            <p>Issues Solved</p>
        </div>
    </div>

</div>