{{#if success_msg}}
<div class="alert-success w3-margin-top">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert-danger w3-margin-top">{{error_msg}}</div>
{{/if}}

{{#if error}}
<div class="alert-danger w3-margin-top">{{error}}</div>
{{/if}}