<div class="w3-dark-grey nav-bar-menu">
    <div>
        <button id="openNav" class="w3-button w3-dark-grey w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
            <h1 class="w3-margin-bottom"><i class="fa fa-bar-chart" aria-hidden="true"></i> TrackPath</h1>
        </div>
    </div>
    <div>
        <a href="/login" class="login-access">
            <h4>Login</h4><i class="fa fa-sign-in" aria-hidden="true"> </i>
        </a>
    </div>
</div>