<!DOCTYPE html>
<html>
<title>TrackPath</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/style.css">

<body>

    <div class="w3-sidebar w3-bar-block w3-card" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
        <a href="/admin" class="w3-bar-item w3-button"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        <a href="/project" class="w3-bar-item w3-button"><i class="fa fa-terminal" aria-hidden="true"></i> Projects</a>
        <a href="/feature" class="w3-bar-item w3-button"><i class="fa fa-plus-square" aria-hidden="true"></i> New
            Features</a>
        <a href="/bug" class="w3-bar-item w3-button"><i class="fa fa-bug" aria-hidden="true"></i> Bugs</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-rss" aria-hidden="true"></i> Feed</a>
        <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
    </div>

    <div id="main">
        {{>_navbar}}
        <div class="w3-container">
            {{>_msg}}
            {{{body}}}
        </div>
    </div>

    <script src="/js/lib.js"></script>
</body>

</html>