<h2>New Feature</h2>
<hr>

{{#each erros }}
<div class="alert-danger">{{texto}}</div>
{{else}}
{{/each}}


<div class="container">
    <form action="/bug/add" method="post">

        <div class="row">
            <div class="col-25">
                <label for="nameProject">Project</label>
            </div>
            <div class="col-75">
                <input type="hidden" id="projectID" name="projectID" value="{{project.ID}}">
                <input type="text" id="nameProject" name="nameProject" disabled value="{{project.NameProject}}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="title">Title</label>
            </div>
            <div class="col-75">
                <input type="text" id="Title" name="Title" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="StatusID">Status</label>
            </div>
            <div class="col-75">
                <select id="StatusID" name="StatusID"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="EstimatedTime">Estimated Time (Hours)</label>
            </div>
            <div class="col-75">
                <input type="text" id="EstimatedTime" name="EstimatedTime" value=""
                    placeholder="Estimated time in hours...">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="SeverityID">Severity</label>
            </div>
            <div class="col-75">
                <select id="SeverityID" name="SeverityID"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="PriorityID">Priority</label>
            </div>
            <div class="col-75">
                <select id="PriorityID" name="PriorityID"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="DeliveryDate">Delivery Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="DeliveryDate" name="DeliveryDate" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="Summary">Summary</label>
            </div>
            <div class="col-75">
                <textarea id="Summary" name="Summary" placeholder="Describe issue..." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save">
        </div>
    </form>


</div>

<script>

    $(document).ready(function () {
        getStatus();
        getSeverity();
        getPriority();
    });

    async function getStatus() {
        const res = await fetch("http://localhost:8787/api/getFeatureStatus");
        const json = await res.json();
        let featureStatus = document.getElementById("StatusID");
        for (let i = 0; i < json.length; i++) {
            let option = document.createElement("option");
            option.value = json[i].ID;
            option.innerText = json[i].NameFeatureStatus;
            featureStatus.appendChild(option);
        }
    }

    async function getSeverity() {
        const res = await fetch("http://localhost:8787/api/getSeverity");
        const json = await res.json();
        let selectSeverity = document.getElementById("SeverityID");
        for (let i = 0; i < json.length; i++) {
            let option = document.createElement("option");
            option.value = json[i].ID;
            option.innerText = json[i].Severity;
            selectSeverity.appendChild(option);
        }
    }

    async function getPriority() {
        const res = await fetch("http://localhost:8787/api/getPriority");
        const json = await res.json();
        let selectPriority = document.getElementById("PriorityID");
        for (let i = 0; i < json.length; i++) {
            let option = document.createElement("option");
            option.value = json[i].ID;
            option.innerText = json[i].Priority;
            selectPriority.appendChild(option);
        }
    }


</script>